<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test2</title>
</head>
<body bgcolor="#666666">
    <div id="cmpAp">
        <ol>
            <babo
                v-for="item in dit"
                v-bind:tode="item"
                v-bind:key="item.adi"
            ></babo>
        </ol>
    </div> <hr>
<!--  -->
    <div id="app-7">
        <ol>
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
        </ol>
      </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="jsf/tes2.js"></script>
</body>
</html>